{% extends 'base.html' %}
{% block conteudo %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>CPF</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.idade}}</td>
                <td>{{cliente.sexo}}</td>
                <td>{{cliente.cpf}}</td>
                <td><a href="http://127.0.0.1:8000/primeira/cliente/{{cliente.id}}/">Ver</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Foram cadastrados {{clientes | length }} clientes</p>
{% endblock %}